.image img {
    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;

}

.image:hover img {
    -webkit-transform:scale(3.00); /* Safari and Chrome */
    -moz-transform:scale(3.00); /* Firefox */
    -ms-transform:scale(3.00); /* IE 9 */
    -o-transform:scale(3.00); /* Opera */
     transform:scale(3.00);
}

